@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hover-drop-shadow {
    @apply hover:drop-shadow-[0px_0px_4px_rgba(255,255,255,0.75)];
  }
  .animated-underline {
    position: relative;
  }
  .animated-underline::before,
  .animated-underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-top-width: 2px;
    border-top-color: #ffffff;
  }
  .animated-underline::before {
    border-top-style: none;
    width: 100%;
  }
  .animated-underline::after {
    border-top-style: solid;
    width: 0;
    transition: width 0.5s ease-in;
  }
  .animated-underline:hover::after {
    width: 100%;
  }
}

.text-gradient {
  @apply bg-gradient-to-r from-blue-600 to-sky-600 text-transparent bg-clip-text;
}

.m_5df29311 {
  padding: 0 !important;
}

.m_54c44539 {
  @apply no-scrollbar;
}

.mask-image-gradient {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 10%);
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, black 10%);
}